$primary: #00ff66;

$focus-shadow: rgba(56, 222, 125, 0.5);
$focus-border: #00ff66;

$button-transparent-hover: #00ff6619;

$primary-button-bg: #00ff66;
$primary-button-bg-hover: #00bf4d;
$primary-button-bg-disable: #45da81;
$primary-button-color: #161616;

$list-chat-hover: #323232;

$border-color: #414141;

$background-chat: #232323;
