$primary: #04ff00;

$focus-shadow: rgba(87, 170, 94, 0.5);
$focus-border: rgb(115, 225, 111);

$button-transparent-hover: #04ff0019;

$primary-button-bg: #04ff00;
$primary-button-bg-hover: #04da00;
$primary-button-bg-disable: rgb(85, 203, 83);
$primary-button-color: #161616;

$list-chat-hover: #323232;

$dashboard-item-bg: #2657c0;

$border-color: #414141;

$background-chat: #232323;
